* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main-dashboard-container {

    height: 100vh;
    width: 100%;
    background-color: #fefae0;

}

.dahsboard-body {

    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

}

footer {

    background-color: #d5cfa6;
    position: fixed;
    bottom: 0;
    left: 10;
    width: 100%;
    text-align: center;

}